In [14]:
import pandas as pd
import re
from pathlib import Path

project_dir = Path('..').resolve()
frames_dir = Path('/Users/andretelfer/Downloads/extracted_frames/20230627/')

In [4]:
df = pd.read_csv(project_dir / 'data/raw/treatments_20230627.csv')
df

,mouse,date_of_birth,treatment,injection_time,notes
0,m1,18 April 2022,mid,12:23,NaN
1,m2,18 April 2022,low,12:37,NaN
2,m3,18 April 2022,saline,12:52,NaN
3,m4,11 January 2022,high,13:07,NaN
4,m5,11 January 2022,high,11:21,NaN
5,m6,25 March 2022,mid,11:35,NaN
6,m7,25 March 2022,saline,11:50,NaN
7,m8,1 March 2022,low,12:05,NaN
8,m9,1 March 2022,high,11:15,approx timing
9,m10,6 May 2022,mid,11:30,approx timing
10,m11,6 May 2022,low,11:45,approx timing
11,m12,16 April 2022,saline,12:00,approx timing
12,m13,16 April 2022,mid,11:09,NaN
13,m14,14 April 2022,low,11:22,NaN
14,m15,18 April 22,high,11:34,approx timing
15,m16,18 April 22,saline,11:46,NaN
16,m17,8 February 22,low,11:35,NaN
17,m18,18 January 22,saline,11:48,approx timing
18,m19,25 December 21,high,12:01,NaN
19,m20,16 April 22,mid,12:13,NaN
20,m21,8 August 22,control,NaN,written as m1 in recordings
21,m22,8 August 22,control,NaN,written as m2 in recordings
22,m23,8 August 22,control,NaN,written as m3 in recordings
23,m24,17 July 22,control,NaN,written as m4 in recordings
24,m25,17 July 22,control,NaN,written as m5 in recordings
25,m26,21 October 22,control-acclimated,NaN,written as m6 in recordings
26,m27,3 November 22,control-acclimated,NaN,written as m7 in recordings
27,m28,27 September 22,control-acclimated,NaN,written as m8 in recordings
28,m29,23 April 22,control-acclimated,NaN,written as m9 in recordings
29,m30,15 July 22,control-acclimated,NaN,written as m10 in recordings
30,f1,13 November 22,saline,12:23,NaN
31,f2,13 November 22,low,12:38,NaN
32,f3,13 November 22,high,12:53,NaN
33,f4,13 November 22,mid,13:10,NaN
34,f5,3 November 22,mid,12:15,NaN
35,f6,3 November 22,low,12:30,NaN
36,f7,3 November 22,saline,12:45,NaN
37,f8,25 October 22,high,13:00,NaN
38,f9,25 October 22,mid,11:53,NaN
39,f10,15 August 22,saline,12:08,NaN
40,f11,15 August 22,low,12:23,NaN
41,f12,25 October 22,high,12:38,NaN
42,f13,25 October 22,low,12:14,NaN
43,f14,16 December 22,mid,12:29,NaN
44,f15,16 December 22,high,12:44,NaN
45,f16,22 November 22,saline,12:59,NaN
46,f20,22 November 22,control,NaN,NaN
47,f21,22 November 22,control,NaN,NaN
48,f22,16 December 22,control,NaN,NaN
49,f23,24 November 22,control,NaN,NaN
50,f24,6 December 22,control-acclimated,NaN,NaN
51,f25,6 December 22,control-acclimated,NaN,NaN
52,f26,21 December 22,control-acclimated,NaN,NaN
53,f27,21 December 22,control-acclimated,NaN,NaN
54,f30,24 November 22,NaN,14:19,NaN
55,f31,24 November 22,NaN,14:34,NaN
56,f32,24 November 22,NaN,14:50,NaN
57,f33,21 December 22,NaN,15:06,NaN

In [25]:
results = pd.DataFrame(dict(fname=[f.parts[-1] for f in frames_dir.glob('*')]))
results['mouse'] = results.fname.apply(lambda x: re.match('([mf]\d+)', x).group(1))
results['recording'] = results.fname.apply(lambda x: int(re.match('.*rec(\d+)', x).group(1)))
results

results.merge(df, how='left', on='mouse')

,fname,mouse,recording,date_of_birth,treatment,injection_time,notes
0,m11_rec4_4h-postinjection,m11,4,6 May 2022,low,11:45,approx timing
1,f14_rec1_preinjection,f14,1,16 December 22,mid,12:29,NaN
2,m16_rec1_preinjection,m16,1,18 April 22,saline,11:46,NaN
3,m14_rec3_2h-postinjection,m14,3,14 April 2022,low,11:22,NaN
4,f8_rec3_2h-postinjection,f8,3,25 October 22,high,13:00,NaN
...,...,...,...,...,...,...,...
282,m6_rec1_preinjection,m6,1,25 March 2022,mid,11:35,NaN
283,m1_rec3_2h-postinjection,m1,3,18 April 2022,mid,12:23,NaN
284,f26_rec4_4h-postinjection,f26,4,21 December 22,control-acclimated,NaN,NaN
285,f7_rec2_1h-postinjection,f7,2,3 November 22,saline,12:45,NaN
286,m1_rec2_1h-postinjection,m1,2,18 April 2022,mid,12:23,NaN